{% extends 'dashboard/header.html' %} {% block body %} {% load static %}
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6 mt-7">
                        <img src="{% static 'images/logo.png' %}" height="160" alt="">
                        <h2 class="agrowell">agrowell</h2>
                    </div>
                    <form class="card" action="/login/" method="post">
                        <div class="card-body p-6">
                            <div class="card-title">Login to your account</div>
                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input name="uname" type="text" class="form-control" aria-describedby="usernameHelp" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Password
                                    <a href="/" class="float-right small">I forgot password</a>
                                </label>
                                <input name="password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <span class="custom-control-label">Remember me</span>
                                </label>
                            </div>
                            {% csrf_token %}
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        Don't have account yet?
                        <a href="/signup/">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script %} {% include 'dashboard/script.html' %} {% endblock %}