<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="dropdown-toggle">
                        <i class="ti-calendar"></i>
                        <input id="selectedDate" type="date" onchange="changeData(charts)">
                        <i id="loader" class="ti-reload" style="display:none;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>