<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    AgroWell
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard/">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <!-- <li>
                    <a href="/table/">
                        <i class="ti-view-list-alt"></i>
                        <p>Table</p>
                    </a>
                </li>
                <li>
                    <a href="/maps/">
                        <i class="ti-map"></i>
                        <p>Maps</p>
                    </a>
                </li> -->
            </ul>
    	</div>
    </div>